extends layouts/base

block title
  title 途客圈1

block content
  include layouts/mixins/ad_widgets

  - var carousels = ['assets/app-1.png', 'assets/app-2.png'];
  - var features = [];

  +showcase(carousels, "Not your regular web application", "The next big thing is around the corner and you'll be part of it")


  .main
    .container
      +feature_blocks(features)

      h2: span I've seen the future, it's in my browser

      .row
        .span12
          h4
            i.icon.icon